[submodule "ceylon-dist"]
	path = ceylon-dist
	url = https://github.com/ceylon/ceylon-dist
[submodule "ceylon-sdk"]
	path = ceylon-sdk
	url = https://github.com/ceylon/ceylon-sdk
[submodule "ceylon.formatter"]
	path = ceylon.formatter
	url = https://github.com/ceylon/ceylon.formatter
[submodule "ceylon-ide-common"]
	path = ceylon-ide-common
	url = https://github.com/ceylon/ceylon-ide-common
[submodule "ceylon-ide-eclipse"]
	path = ceylon-ide-eclipse
	url = https://github.com/ceylon/ceylon-ide-eclipse
